In [1]:
import numpy as np
import pandas as pd

# Initialize a Dataframe from numpy ndarray

This example shows how we can initialize a dataframe from a $6 \times 4$ numpy ndarray. It also shows that the index is a date list.

In [4]:
# get 6 days
dates = pd.date_range("20221101", periods=6)

# dataframe of 6 rows, 4 columns, index using dates,
# column name A B C D
df = pd.DataFrame(
    np.random.randn(6, 4), 
    index=dates, 
    columns=list("ABCD")
)
df

                   A         B         C         D
2022-11-01  0.400408 -1.471785  0.950691 -0.704910
2022-11-02 -1.005516 -1.244634  0.058168  0.099546
2022-11-03  1.304751 -0.945577 -0.057032 -1.525734
2022-11-04 -1.108223  0.843783 -1.470870  1.089852
2022-11-05  0.305879 -0.017959  0.960963 -1.120833
2022-11-06 -2.224501  1.556565 -0.754680  0.199439