In [4]:
import numpy as np
import pandas as pd

In [5]:
# get 6 days
dates = pd.date_range("20221101", periods=6)

# dataframe of 6 rows, 4 columns, index using dates,
# column name A B C D
df = pd.DataFrame(
    np.random.randn(6, 4), 
    index=dates, 
    columns=list("ABCD")
)

In [4]:
df

                   A         B         C         D
2022-11-01  1.474002  0.686697 -0.287275 -0.025149
2022-11-02 -0.866297  0.275888 -0.221804 -0.102230
2022-11-03 -0.251718 -1.679887 -0.927424  1.172608
2022-11-04  1.001940 -0.243176 -0.662798  0.281772
2022-11-05  1.949305 -0.166774 -1.695013 -0.118569
2022-11-06 -0.073479 -0.423080  0.350862 -1.514716

In [5]:
def genNewCol(row):
    print(type(row))
    print(row)
    print(row['A'])
    score = row['A'] + row['B']
    return score

# Get a row from the df

In [6]:
df.iloc[0]

A    1.474002
B    0.686697
C   -0.287275
D   -0.025149
Name: 2022-11-01 00:00:00, dtype: float64

# Get a cell from the df

In [7]:
df.iloc[0][0]

1.474002472979952

In [8]:
df.iloc[0]['B']

0.6866973829508601

# apply function

In [9]:
def sumCols(a, b):
    return a+b

## apply function using lambda

In [21]:
df.apply(lambda row: type(row), axis=1)

2022-11-01    <class 'pandas.core.series.Series'>
2022-11-02    <class 'pandas.core.series.Series'>
2022-11-03    <class 'pandas.core.series.Series'>
2022-11-04    <class 'pandas.core.series.Series'>
2022-11-05    <class 'pandas.core.series.Series'>
2022-11-06    <class 'pandas.core.series.Series'>
Freq: D, dtype: object

In [24]:
df.apply(lambda row: row['A'] + row['B'], axis=1)

2022-11-01    2.160700
2022-11-02   -0.590408
2022-11-03   -1.931605
2022-11-04    0.758765
2022-11-05    1.782531
2022-11-06   -0.496559
Freq: D, dtype: float64

In [28]:
df['ABSum'] = df.apply(lambda row: sumCols(row['A'],row['B']), axis=1)
df

                   A         B         C         D     ABSum
2022-11-01  1.474002  0.686697 -0.287275 -0.025149  2.160700
2022-11-02 -0.866297  0.275888 -0.221804 -0.102230 -0.590408
2022-11-03 -0.251718 -1.679887 -0.927424  1.172608 -1.931605
2022-11-04  1.001940 -0.243176 -0.662798  0.281772  0.758765
2022-11-05  1.949305 -0.166774 -1.695013 -0.118569  1.782531
2022-11-06 -0.073479 -0.423080  0.350862 -1.514716 -0.496559

In [29]:
df['ABSum2'] = df.apply(lambda row: genNewCol(row), axis=1)
df

<class 'pandas.core.series.Series'>
A        1.474002
B        0.686697
C       -0.287275
D       -0.025149
ABSum    2.160700
Name: 2022-11-01 00:00:00, dtype: float64
1.474002472979952
<class 'pandas.core.series.Series'>
A       -0.866297
B        0.275888
C       -0.221804
D       -0.102230
ABSum   -0.590408
Name: 2022-11-02 00:00:00, dtype: float64
-0.8662968220432019
<class 'pandas.core.series.Series'>
A       -0.251718
B       -1.679887
C       -0.927424
D        1.172608
ABSum   -1.931605
Name: 2022-11-03 00:00:00, dtype: float64
-0.2517178818948574
<class 'pandas.core.series.Series'>
A        1.001940
B       -0.243176
C       -0.662798
D        0.281772
ABSum    0.758765
Name: 2022-11-04 00:00:00, dtype: float64
1.0019402999473812
<class 'pandas.core.series.Series'>
A        1.949305
B       -0.166774
C       -1.695013
D       -0.118569
ABSum    1.782531
Name: 2022-11-05 00:00:00, dtype: float64
1.9493049747448417
<class 'pandas.core.series.Series'>
A       -0.073479
B       -0.423080
C        0.350862
D       -1.514716
ABSum   -0.496559
Name: 2022-11-06 00:00:00, dtype: float64
-0.07347890052498406

                   A         B         C         D     ABSum    ABSum2
2022-11-01  1.474002  0.686697 -0.287275 -0.025149  2.160700  2.160700
2022-11-02 -0.866297  0.275888 -0.221804 -0.102230 -0.590408 -0.590408
2022-11-03 -0.251718 -1.679887 -0.927424  1.172608 -1.931605 -1.931605
2022-11-04  1.001940 -0.243176 -0.662798  0.281772  0.758765  0.758765
2022-11-05  1.949305 -0.166774 -1.695013 -0.118569  1.782531  1.782531
2022-11-06 -0.073479 -0.423080  0.350862 -1.514716 -0.496559 -0.496559

## apply function using function name

input to the function will be a row, if apply with 
```
axis=1
```

In [7]:
def sumAllCols(row):
    return row['A'] + row['B'] + row['C'] + row['D']

In [13]:
df

                   A         B         C         D
2022-11-01 -0.184481  2.566990 -1.676685  1.266659
2022-11-02 -0.458861  1.761059 -0.230070  1.069204
2022-11-03 -0.918886  1.533986  0.794173  0.875604
2022-11-04  0.397285 -0.006980 -0.174836 -0.754928
2022-11-05 -0.443441  0.651536  0.082402  0.237878
2022-11-06 -0.053982 -0.245426  0.488088  2.020300

In [9]:
df.apply(sumAllCols, axis=1)

2022-11-01    1.972484
2022-11-02    2.141332
2022-11-03    2.284876
2022-11-04   -0.539459
2022-11-05    0.528375
2022-11-06    2.208980
Freq: D, dtype: float64

In [14]:
sum([-0.184481,2.566990,-1.676685,1.266659])

1.9724830000000002