In [2]:
import numpy as np
import pandas as pd

In [3]:
# get 6 days
dates = pd.date_range("20221101", periods=6)

# dataframe of 6 rows, 4 columns, index using dates,
# column name A B C D
df = pd.DataFrame(
    np.random.randn(6, 4), 
    index=dates, 
    columns=list("ABCD")
)

In [4]:
df

                   A         B         C         D
2022-11-01  1.474002  0.686697 -0.287275 -0.025149
2022-11-02 -0.866297  0.275888 -0.221804 -0.102230
2022-11-03 -0.251718 -1.679887 -0.927424  1.172608
2022-11-04  1.001940 -0.243176 -0.662798  0.281772
2022-11-05  1.949305 -0.166774 -1.695013 -0.118569
2022-11-06 -0.073479 -0.423080  0.350862 -1.514716

In [5]:
def genNewCol(row):
    print(type(row))
    print(row)
    print(row['A'])
    score = row['A'] + row['B']
    return score

# Get a row from the df

In [6]:
df.iloc[0]

A    1.474002
B    0.686697
C   -0.287275
D   -0.025149
Name: 2022-11-01 00:00:00, dtype: float64

# Get a cell from the df

In [7]:
df.iloc[0][0]

1.474002472979952

In [8]:
df.iloc[0]['B']

0.6866973829508601

# apply function

In [9]:
def sumCols(a, b):
    return a+b

In [20]:
df.apply(lambda row: type(row), axis=0)

A    <class 'pandas.core.series.Series'>
B    <class 'pandas.core.series.Series'>
C    <class 'pandas.core.series.Series'>
D    <class 'pandas.core.series.Series'>
dtype: object

In [19]:
df['A']

2022-11-01    1.474002
2022-11-02   -0.866297
2022-11-03   -0.251718
2022-11-04    1.001940
2022-11-05    1.949305
2022-11-06   -0.073479
Freq: D, Name: A, dtype: float64